*{
    margin: 0;
    padding: 0;
}
.Select{
    display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   height: 100vh;
}
.content{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100vh;
}
.coding{
    background-color: red;
    color: white;
}
.webDev{
    background-color: blue;
    color: white;

}
a{
    color: white;
    text-decoration: none;
}
